# Ignore binaries
*.exe
*.out
*.o

# Build folder
build/

# PCAP files (optional)
*.pcap

# OS files
.DS_Store


“I used a .gitignore file to exclude binaries, build files, and PCAP data from version control.”